* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


#asset{
  z-index: 1000;
}
#reg{
  z-index: 500;
}
/* #iframe-frame {
  border: 0;
  width: 600px;
  height: 400px;
  z-index: 50;
  padding-bottom: 240px;

} */

.iframe-container {
  position: relative;
  width: 500px;
  height: 500px;
  z-index: 50;
  background-color: black;
  overflow: hidden;
  top: -30px;
 
}

#webcom{
  text-decoration: none;
  color: white;
}

#webcom:hover{
  text-decoration: none;
  color: red;
}

.container-button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "bt-1 bt-2 bt-3"
    "bt-4 bt-5 bt-6";
  position: relative;
  perspective: 800;
  padding: 0;
  width: 135px;
  height: 47px;
  transition: all 0.3s ease-in-out;
}

.container-button:active {
  transform: scale(0.95);
}

.hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.bt-1 {
  grid-area: bt-1;
}

.bt-2 {
  grid-area: bt-2;
}

.bt-3 {
  grid-area: bt-3;
}

.bt-4 {
  grid-area: bt-4;
}

.bt-5 {
  grid-area: bt-5;
}

.bt-6 {
  grid-area: bt-6;
}

.bt-1:hover ~ button {
  transform: rotateX(15deg) rotateY(-15deg) rotateZ(0deg);
  box-shadow: -2px -2px #18181888;
}

.bt-1:hover ~ button::after {
  animation: shake 0.5s ease-in-out 0.3s;
  text-shadow: -2px -2px #18181888;
}

.bt-3:hover ~ button {
  transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg);
  box-shadow: 2px -2px #18181888;
}

.bt-3:hover ~ button::after {
  animation: shake 0.5s ease-in-out 0.3s;
  text-shadow: 2px -2px #18181888;
}

.bt-4:hover ~ button {
  transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
  box-shadow: -2px 2px #18181888;
}

.bt-4:hover ~ button::after {
  animation: shake 0.5s ease-in-out 0.3s;
  text-shadow: -2px 2px #18181888;
}

.bt-6:hover ~ button {
  transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg);
  box-shadow: 2px 2px #18181888;
}

.bt-6:hover ~ button::after {
  animation: shake 0.5s ease-in-out 0.3s;
  text-shadow: 2px 2px #18181888;
}

.hover:hover ~ button::before {
  background: transparent;
}

.hover:hover ~ button::after {
  content: "Register";
  top: -150%;
  transform: translate(-50%, 0);
  font-size: 34px;
  color: #900022;
}

button {
  position: absolute;
  padding: 0;
  width: 135px;
  height: 47px;
  background: transparent;
  font-size: 17px;
  font-weight: 900;
  border: 3px solid #900022;
  transition: all 0.3s ease-in-out;
}

button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 47px;
  background-color: #900022;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

button::after {
  content: "Register";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 135px;
  height: 47px;
  background-color: transparent;
  font-size: 17px;
  font-weight: 900;
  line-height: 47px;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}


#rizz{
  position: relative;
  top: 23px;
}
@keyframes shake {
  0% {
    left: 45%;
  }

  25% {
    left: 54%;
  }

  50% {
    left: 48%;
  }

  75% {
    left: 52%;
  }

  100% {
    left: 50%;
  }
}
.nav {
  background: #000;
  width: 93%;
  height: 80px;
  display: flex;
  flex-direction: row;
  place-items: center;
  padding: 0 57.5px;
  color: white;
  justify-content: space-between;
  z-index: 600;
}
.nav logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
}
.nav img {
  width: 200px;
  height: auto;
}
.nav .menu {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 25px;
}

.nav .menu a {
  padding: 10px 40px;
  background: #610017;
}

.nav .menu i {
    
  font-size: xx-large;
}
.nav .menu i,a:hover {
    cursor: pointer;
    
  }

.open-menu{
  background: #000;
  width: 75%;
  height:300px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  place-items: center;
 padding: 100px;
  z-index: 200;
  position: fixed;
  top: -800px;
  justify-content: space-between;
  transition: top 0.5s ease;
  visibility: hidden;
  opacity: 0;
}

.open-menu i{
  font-size: 350px;
  color: white;
}
.open-menu.show {
  display: flex;
  top: 0; 
  margin-top: 100px;
}
.open-menu i:hover{
  cursor: pointer;
}

.open-menu .list ul{
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
  font-size: 40px;
}
.open-menu .list ul li{

  cursor: pointer;
}
.open-menu .list ul li a{
  text-decoration: none;
  color: white;
  position: relative;
  left: -236px;
}
@media (max-width: 540px) {
  #iframe-frame {
  border: 0;
  width: 600px;
  height: 400px;
  z-index: 50;
  padding-bottom: 240px;

}
  #img{
    width: 60px;
    height: 40px;
  }
  .nav {
    background: #000;
    width:100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 0 32.5px;
    color: white;
    justify-content: space-between;
    margin: 0 auto; 
  }
  .nav logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
  }
  .nav img {
    width: 200px;
    height: auto;
  }
  .nav .menu {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 25px;
  }
  
  .nav .menu a {
    display: none;
   
  }
  
  .nav .menu i {
    font-size: xx-large;
  }
  .nav .menu i, a:hover {
    cursor: pointer;
  }
  
  .open-menu {
    transform: translate(-10%, 0); 
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 100px;
    z-index: 200;
    position: fixed;
    top: -800px;
    justify-content: space-between;
    transition: top 0.5s ease;
    visibility: hidden;
    opacity: 0;
  }
  .open-menu i {
    font-size: 200px;
    color: white;
    position: relative;
    top: -146px;
    left: 115px;
  }
  .open-menu.show {
    display: flex;
    top: 0;
    margin-top: 100px;
    z-index: 10000;
    position: fixed;
    left: -55px;
    top: 25px;
    height: 246px;
  }
  .open-menu i:hover {
    cursor: pointer;
  }
  
  .open-menu .list ul {
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    font-size: 40px;
  }
  .open-menu .list ul li {
    cursor: pointer;
  }
}

@media (max-width: 912px) {
  .nav {
    background: #000;
    width: 85%;
    height: 125px;
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 0 32.5px;
    color: white;
    justify-content: space-between;
    margin: 0 auto; 
  }
  .nav logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
  }
  .nav img {
    width: 200px;
    height: auto;
  }
  .nav .menu {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 25px;
  }
  
  .nav .menu a {
    padding: 10px 40px;
    background: #610017;
  }
  
  .nav .menu i {
    font-size: xx-large;
  }
  .nav .menu i, a:hover {
    cursor: pointer;
  }
  
  .open-menu {
    transform: translate(-10%, 0); 
    background: black;
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 100px;
    z-index: 200;
    position: fixed;
    top: -800px;
    justify-content: space-between;
    transition: top 0.5s ease;
    visibility: hidden;
    opacity: 0;
  }
  .open-menu i {
    font-size: 200px;
    color: white;
  }
  .open-menu.show {
    display: flex;
    top: 0;
    margin-top: 100px;
    z-index: 10000;
    position: fixed;
        left: -55px;
        top: 25px;
        height: 246px;
  }
  .open-menu i:hover {
    cursor: pointer;
  }
  
  .open-menu .list ul {
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    font-size: 40px;
  }
  .open-menu .list ul li {
    cursor: pointer;
  }
}


/* Hero section */
#hero{
  background-image: url(/img/bg\ impulse.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 50px;

}

.herolist {
  width: 100%;
  height: 713px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


/* Speakers */
.speakerlist {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.speakercard {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative; 
  overflow: hidden; 
}

.speakercard::before {
  content: '';
  background: #7c001d;
  width: 80%; 
  height: 100%;
  position: absolute;
  top: 100%;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 0;
  transition: top 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s ease;
  clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);
  opacity: 0; 
}

.speakercard:hover::before {
  top: 0; 
  opacity: 1; 
}

.speakerdet {
  background: white;
  width: 100%;
  height: 25%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1; 
}

.speakerdet h3 {
  font-size: 2em;
}

@media (max-width: 768px) {
  #hero{
    background-image: url(/img/bg\ impulse.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:441px;
    padding: 50px;
  
  }

  #her{
    width: 100%;
    height: 10000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative; 
    overflow: hidden; 
    position: relative;
    top: 20px;
    z-index: 1600;
  }
  .speakerlist{
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .speakercard {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative; 
    overflow: hidden; 
  }
  
}









.Event {
  background-color: #34000c;
  height: 100%;
  margin: 0;
}

.Events {
  background-color: #34000c;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Events .subdiv {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.Events .main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px;
}

.Events .h1 {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(3, 20px) repeat(2, 40px);
  align-self: flex-start;
  margin: 40px;
}

.Events .h1 .hash {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.Events .h1 .about {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.Events .h1 p {
  color: white;
  margin: 0;
  font-size: 65px;
  grid-column: 1 / 7;
  grid-row: 4 / 5;
}

.Events p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.Events .logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px;
  padding: 10px;
}

.Events .logos img {
  height: 40px;
  width: 100px;
  color: white;
}
@media (max-width: 850px) {
  .Events .main {
    display: flex;
    flex-direction: column;
  }
  .Events .h1 {
    align-self: center;
  }
  .Events .logos img {
    width: 80px;
    margin: 15px;
  }
}
@media (max-width: 500px) {
  .Events p {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .Events p {
    margin: 5px;
    font-size: 12px;
    padding: 5px;
  }
  .Events .logos {
    height: auto;
    padding: 20px;
    margin-left: 57px;
    margin-right: 57px;
  }
  .Events .logos img {
    width: 60px;
    margin: 20px;
  }
}
@media (max-width: 350px) {
  .Events p {
    font-size: 11px;
  }
}

/* Worshops */
.workshop {
  background-image: url(img/Rectangle\ 90.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  padding: 50px;
}

.workshop-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: [gap value]; /* Optional: Add spacing between boxes */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workshop .heading {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(4, 30px);
  align-self: flex-end;
}
.heading .hash {
  grid-column: 6/7;
  grid-row: 1/2;
}
.heading .our {
  grid-row: 1/2;
  grid-column: 7/8;
  margin-left: 10px;
  margin-top: 10px;
}
.heading p {
  color: white;
  font-size: 50px;
  margin: 0;
  grid-row: 3/4;
  grid-column: 2/8;
}
.workshop .shops {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.shops .box {
  width: 300px;
  height: 280px;
  background-color: black;
  margin: 50px;
  border: gray solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box h3 {
  font-family: "Clash Display", sans-serif;
  color: white;
  font-size: 36px;
  margin: 20px;
}
.box a {
  text-decoration: none;
  width: 170px;
  padding: 5px;
  text-align: center;
  background-color: #900022;
  color: white;
  font-size: 18px;
  margin: 20px;
}
.box a:hover {
  background-color: white;
  color: black;
  transition: 1s;
}
@media (max-width: 800px) {
  .shops .box {
    width: 40%;
  }
  .box h3 {
    font-size: 30px;
  }
}
@media (max-width: 620px) {
  .box h3 {
    font-size: 25px;
  }
  .box a {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .workshop .heading {
    grid-template-columns: repeat(8, 30px);
    grid-template-rows: repeat(4, 30px);
    align-self: center;
  }
  .workshop .heading img {
    width: 60px;
  }
  .workshop .heading p {
    font-size: 40px;
  }

  .shops .box {
    width: 80%;
    height: 200px;
  }
}
@media (max-width: 300px) {
  .workshop .heading {
    grid-template-columns: repeat(8, 25px);
    grid-template-rows: repeat(4, 30px);
    align-self: center;
  }
  .workshop .heading img {
    width: 50px;
  }
  .workshop .heading p {
    font-size: 30px;
  }
}
.rizz{
  position: relative;
  top: -23px;
}
/* Pricing */

.pricing {
  background-color: #34000c;
  height: 100%;
  padding: 50px;
  padding-bottom: 200px;
}

.pricing .heading {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(4, 30px);
  align-self: flex-start;
}
.pricing .heading .our {
  align-self: flex-start;
  margin-top: 10px;
}

.pricing .price-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;
}
.price-cards .card {
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  margin: 60px 40px;
  color: white;
  width: 350px;
  height: 475px;
  background-color: black;
  margin: 20px;
  border: rgb(93, 93, 93) solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.price-cards .card a {
  margin: 30px 0;
  background: #900022;
  padding: 10px 55px;
  transition: all 1000ms;
  justify-self: baseline;
}

.price-cards .card a:hover {
  cursor: pointer;
  background: white;
  color: black;
}
.price-cards .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -20px;
}

@media (max-width: 600px) {
/* 
  #ourr{
    position: relative;
    left:-137px;
  }
  }

  #hashh{
    position: relative;
    left:-156px;
  } */
  
  .workshop .heading {
    grid-template-columns: repeat(8, 25px);
    grid-template-rows: repeat(4, 30px);
    align-self: center;
  }
  .workshop .heading img {
    width: 50px;
  }
  .workshop .heading p {
    font-size: 30px;
  }
}

/* Footer */
.footer {
  background: #000;
  font-family: "Poppins", sans-serif;
  height: 900px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  width: 100%;
}
.footer img {
  translate: 0px -150px;
}

.footer-content {
  margin-top: 100px;
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 100%;
  bottom: 0;
  gap: 180px;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-content p {
  color: rgb(134, 134, 134);
  font-size: small;
  margin-top: 20px;
}
.footer .rights {
  margin-top: 20px;
  display: flex;
  width: 88%;
  flex-direction: row;
  justify-content: space-between;
}
.map{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50%;
  
}
.footer iframe{
  height: 80%;
  width: 80%;

}

#imgg{
  height:500px;
  width: 500px;
}


#frame{
  position: relative;
  width: 600px;
  height: 400px;
  background: url(/img/impulsee.jpeg)  no-repeat;
  
}
.footer .fcontent div{
  display: flex;
  gap: 20px;
  font-size: 20px;
  place-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.fcontent div a{
  text-decoration: none;
  color: white;
}

.footer .fcontent div a:hover{
  cursor: pointer;
}

@media (max-width: 600px){
  #imgg{
    height:500px;
    width: 500px;
  }
  
  .footer {
    background: #000;
    font-family: "Poppins", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    width: 100%;
    place-items: center;
  }
  .footer img {
    translate: 0px -50px;
  }
  
  .footer-content {
    margin-top: 100px;
    display: flex;
    font-family: "Poppins", sans-serif;
    width: 100%;
    bottom: 0;
    gap: 35px;
    flex-direction: column ;
    place-items: center;
    justify-content: space-evenly;
  }
  
  .footer-content p {
    color: rgb(134, 134, 134);
    font-size: small;
    margin-top: 20px;
  }
  .footer .rights {
    height: 10%;
    font-size: 10px;
    margin-top: 50px;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
  .map{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50%;
    
  }
  .fcontent{
    display: flex;
    flex-direction: column;
    place-items: center;

  }
  .footer iframe{
    height: 60%;
    width: 85%;
  
  }

}

@media (max-width: 912px){

  .footer img {
    translate: 0px -70px;
  }
  
  .footer-content {
    margin-top: 100px;
    display: flex;
    font-family: "Poppins", sans-serif;
    width: 100%;
    bottom: 0;
    gap: 35px;
    flex-direction: column ;
    place-items: center;
    justify-content: space-evenly;
  }
  
  .footer-content p {
    color: rgb(134, 134, 134);
    font-size: small;
    margin-top: 20px;
  }
  .footer .rights {
    height: 10%;
    font-size: 10px;
    margin-top: 50px;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
  .map{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50%;
    
  }

#imgg{
  height: 240px;
  width: 279px;
}

  #frame{
    position: relative;
    width:100%;
    height:100%;
  }
  .fcontent{
    display: flex;
    flex-direction: column;
    place-items: center;

  }
  .footer iframe{
    height: 60%;
    width: 85%;
  
  }

}

#gsw{
  position: relative;
  top: -136px;
}


