*{
    margin: 0;
    padding: 0;
    color: white;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background: #000;
}

.nav {
    background: #000;
    width: 92%;
    height: 125px;
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 0 57.5px;
    color: white;
    justify-content: space-between;
  }
  .nav logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
  }
  .nav img {
    width: 200px;
    height: auto;
  }
  .nav .menu {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 25px;
  }
  
  .nav .menu a {
    padding: 10px 40px;
    background: #34000c;
  }
  
  .nav .menu i {
      
    font-size: xx-large;
  }
  .nav .menu i,a:hover {
      cursor: pointer;
      
    }
  
  .open-menu{
    background: #000;
    width: 75%;
    height:300px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    place-items: center;
   padding: 100px;
    z-index: 10;
    position: fixed;
    top: -800px;
    justify-content: space-between;
    transition: top 0.5s ease;
    visibility: hidden;
    opacity: 0;
  }
  .open-menu i{
    font-size: 350px;
    color: white;
  }
  .open-menu.show {
    display: flex;
    top: 0; 
    margin-top: 100px;
  }
  .open-menu i:hover{
    cursor: pointer;
  }
  
  .open-menu .list ul{
    color: white;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    font-size: 40px;
  }
  .open-menu .list ul li{
    cursor: pointer;
  }
  
  
.heading{
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
}
.heading .name{
    padding: 0 30px;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 50px;
    width: 50%;

}
.heading .reg{
    padding: 12px 100px;
    background: red;
    margin-right: 30px;
}

.heading i:hover{
    cursor: pointer;
}

.heading .reg:hover{
    cursor: pointer;
    transition: all 0.8s;
    background: white;
    color:black;
}
.content{
    width: 80%;
    font-size: larger;
}

.content img{
    width: 100%;
    height: 300px;
    margin: 90px 0;
    
}


.spkr{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin:50px 0;
}

.spkr img{
    height: 400px;
    width: 400px;

}

.spkr div{
    display: flex;
    flex-direction: column;
    width: 60%;
    place-items: start;
    justify-content: center;
    margin-left: 40px;

}


@media (max-width: 640px) {
    .heading{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        place-items: center;
    }
    .heading .name{
        padding: 0 5px;
        font-size: 15px;

        display: flex;
        flex-direction: row;
        place-items: center;
        justify-content: flex-start;
        height: 100%;
        gap: 50px;
        width: 50%;
    
    }
    .heading .reg{
        padding: 12px 20px;
        background: red;
        margin-right: 30px;
    }
    
    .heading i{
        display: none;
    }
    
    .heading .reg:hover{
        cursor: pointer;
        transition: all 0.8s;
        background: white;
        color:black;
    }
    .content{
        width: 90%;
    }
    
    .content img{
        width: 100%;
        height: 190px;
        margin: 50px 0;
        
    }
    
    
    .spkr{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: start;
        align-items: center;
    }
    
    .spkr img{
        height: 280px;
        width: 300px;
        margin: 50px 0;
    
    }
    
    .spkr div{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 40px;

    
    }
    





}

/* Footer */
.footer {
  margin-top: 200px;
  background: #000;
  font-family: "Poppins", sans-serif;
  height: 900px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  width: 100%;
}
.footer img {
  translate: 0px -150px;
}

.footer-content {
  margin-top: 100px;
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 100%;
  bottom: 0;
  gap: 180px;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-content p {
  color: rgb(134, 134, 134);
  font-size: small;
  margin-top: 20px;
}
.footer .rights {
  margin-top: 20px;
  display: flex;
  width: 88%;
  flex-direction: row;
  justify-content: space-between;
}
.map{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50%;
  
}
.footer iframe{
  height: 80%;
  width: 80%;

}

@media (max-width: 600px){

  .footer {

    background: #000;
    font-family: "Poppins", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    width: 100%;
    place-items: center;
  }
  .footer img {
    translate: 0px -50px;
  }
  
  .footer-content {
    margin-top: 100px;
    display: flex;
    font-family: "Poppins", sans-serif;
    width: 100%;
    bottom: 0;
    gap: 35px;
    flex-direction: column ;
    place-items: center;
    justify-content: space-evenly;
  }
  
  .footer-content p {
    color: rgb(134, 134, 134);
    font-size: small;
    margin-top: 20px;
  }
  .footer .rights {
    height: 10%;
    font-size: 10px;
    margin-top: 50px;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
  .map{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50%;
    
  }
  .fcontent{
    display: flex;
    flex-direction: column;
    place-items: center;

  }
  .footer iframe{
    height: 60%;
    width: 85%;
  
  }

}

@media (max-width: 912px){
  .footer img {
    translate: 0px -70px;
  }
  
  .footer-content {
    margin-top: 100px;
    display: flex;
    font-family: "Poppins", sans-serif;
    width: 100%;
    bottom: 0;
    gap: 35px;
    flex-direction: column ;
    place-items: center;
    justify-content: space-evenly;
  }
  
  .footer-content p {
    color: rgb(134, 134, 134);
    font-size: small;
    margin-top: 20px;
  }
  .footer .rights {
    height: 10%;
    font-size: 10px;
    margin-top: 50px;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
  .map{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50%;
    
  }
  .fcontent{
    display: flex;
    flex-direction: column;
    place-items: center;

  }
  .footer iframe{
    height: 60%;
    width: 85%;
  
  }

}

#gsw{
  position: relative;
  top: -136px;
}


#gsw{
  position: relative;
  top: -136px;
}





